rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email in [
          "mail2tvskc@gmail.com"
        ];
    }

    match /tournaments/{tournamentId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
